<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aml.shushme">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7xtRWekn7nfQJuM41HoE3iztk-j5sUm0" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="com.example.aml.shushme"
            android:name="com.example.aml.shushme.provider.PlaceContentProvider"
            android:exported="false"
            />
        <receiver android:name=".GeofenceBroadcastReceiver" />

    </application>

</manifest>